@model Nemesys.Models.ViewModels.HallOfFameViewModel

@{
    ViewData["Title"] = "Hall of Fame";
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Hall of Fame</h1>
    </div>
</div>

<div class="container py-5">

    @if (Model != null && Model.TopReporters != null && Model.TopReporters.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Reporter</th>
                    <th>Reports Made</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.TopReporters.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.TopReporters[i].Username</td>
                        <td>@Model.TopReporters[i].ReportCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Reporters Found</p>
    }

</div>